<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>BMI</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <style type="text/css">a{text-decoration: none}</style>
</head>



<header class="header" id="header-page">
    <!--    <div class="container">-->
    <div class="logo">
        <a href="/">
            <h2><strong>BMI </strong>KALKULATOR ONLINE</h2>
        </a>
    </div>
    <div class="header-nav">
        <ul class="nav">
            <li>
                <a href="/">Kalkulator BMI</a>
            </li>
<!--            <li>-->
<!--                <a href="/kalkulator-kalorii">Kalkulator kalorii</a>-->
<!--            </li>-->


            <li>
                <a href="/ciekawostki">Ciekawostki</a>
            </li>
            <li>
                <a href="#contact">Kontakt</a>
            </li>

<!--            <li>-->
<!--                <a href="/bonus">BONUS!</a>-->
<!--            </li>-->


        </ul>
    </div>
    <!--    </div>-->
</header>


<section role="main">

    <div class="home" style="background-image: url(home-bg.jpg);"
         alt="Background"/>

    <div class="container">
        <div class="row">
            <div class="column">
                <div class="info1">

                                                <h1> Kalkulator BMI</h1>
                                                <p>
                                                    "Kalkulator "
                                                    <strong>BMI</strong>
                                                    (Body Mas Index) daje każdemu możliwość szybkiego i wygodnego obliczenia własnego
                                                    wskaźnika masy
                                                    ciała.
                                                    Bmi obliczamy dzieląc mase ciała (w kilogramach) przez wzrost do kwadratu (w metrach).
                                                    Wskaźnik
                                                    ten
                                                    wykorzystywany jest przede wszystkim do oceny ryzyka pojawienia się groźnych chorób:
                                                    miażdżycy,
                                                    choroby niedokrwiennej serca, udaru mózgu, czy nawet nowotworów. Większość tych chorób
                                                    jest
                                                    związana
                                                    z otyłością i dlatego kalkulator BMI to tak przydatne narzędzie."
                                                </p>


                </div>
            </div>

            <div class="info2">
                                                <h1>Pamiętaj</h1>
                                                <p>
                                                    "Kalkulator BMI obrazuje przybliżoną zawartość tłuszczu w organiźmie. W przypadku
                                                    niektórych
                                                    osób
                                                    wskaźnik BMI może sugerować błędne wnioski. Osoby aktywne fizycznie, uprawiający sport,
                                                    mogą
                                                    posiadać zawyżoną wagę związaną z tkanką mięśniową a nie z ilością tłuszczu w
                                                    organizmie.
                                                    Ponadto
                                                    nie zaleca się stosowania wskaźnika BMI do oznaczania wagi ciała dla dzieci do ok. 14
                                                    roku życia
                                                    oraz
                                                    dla kobiet w ciąży."
                                                </p>
            </div>
        </div>
    </div>


</section>

<footer>
    <div class="home_footer" id="contact">
        <ul>
            <li>
                KONTAKT
            </li>
            <li>
                ul. Złota
            </li>
            <li>
                03-285 Warszawa
            </li>
        </ul>
    </div>
    <div class="home_date">
        BMI KALKULATOR ONLINE
        <time datetime="2020-02-29 13:00"> @ 2020 </time>

    </div>

</footer>

</body>
</html>